
{% extends "bootstrap_layout.html" %}
{% block content %}

    <h1>{{restaurant.title()}} Order Form</h1>

    

 <form action="/order/subtotal" method="POST"> 

      <!-- Order Form provides item images, prices, and names -->
        <form>
          {% set position = 1 %} 
            {% for result in results %}
            
            {% set position = results.index(result) %} 
            {% set temp = results[position] %}
            {% set tempCat = temp["Category"] %}
              {% if result["Category"] != results[position-1]["Category"] %}
                <br><h2>{{result["Category"]}}</h2><br>
              {% endif %}
            
                {% if result["Image Link"] != "" %}
                
                <label for="{{result['Item ID']}}"><img  src="{{result['Image Link']}}" width ="140" height ="130" alt = "" />{{  result["Name"] }} ${{ result["Price"] }}
                
                <input type="checkbox"  id = "{{result['Item ID']}}"name="{{result['Name']}}" value="{{result['Price']}}"  />  </label>
              
                
               
                
               {% else %}
                
                
                 <label  for="{{result['Item ID']}}">{{ result["Name"]}} ${{ result["Price"]}} 
                  <input type='checkbox'  id = "{{result['Item ID']}}"name="{{result['Name']}}" value="{{result['Price']}}" /> </label>
                

                  
              {% endif %}
                  
              
            {% endfor %}
        
            <br>
             
            <button> Submit</button> 
        
            </form>
   
{% endblock %}