{% extends "index.html" %}

{% block content %}
  
<form action="/order/subtotal" method="POST"> 
    {% set position = 1 %} 
<!-- <div class="row" > -->
     {% set numOfCols=3 %}
     
     {% set bootstrapColWidth = 12/numOfCols %}
     
    {% for result in results %}
    
    <!-- <div class="col-xs-6 col-lg-4 col-md-4 mb-4"> -->
        <!-- Solved the looping problem to end the row from here-->
        <!--https://stackoverflow.com/questions/40561301/loop-row-in-bootstrap-every-3-columns-->
    {% set rowCount = results.index(result) %}
    {% if rowCount % numOfCols==0 %}
        <h1>{{rowCount}} {{numOfCols}}</h1>
    <div class="row">
    {% endif %}
        <div class="col-xs-4 col-lg-4 col-md-6 mb-4">
        
            
        
      <div class="card h-100">
        <label>
        <a ><img class="card-img-top" src="{{result['Image Link']}}"  alt=""></a>
        <!-- -->
        <div class="card-body">
          <h4 class="card-title">
            <a > <input type='checkbox'  id = "{{result['Item ID']}}"name="{{result['Name']}}" value="{{result['Price']}}">{{result['Name']}}</a>
            
        </h4>
          <h5>{{result["Price"]}}</h5>
          <p class="card-text"> {{result['Description']}}</p>
          <!-- card body-->
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          <!--card footer -->
        </div>
    </label>
        <!--card h-100 -->
      </div>
   
    <!-- </label>  -->
    <!-- col-->
    </div>


    <!-- /.row -->
   <!--{% set rowCount = results.index(result) %}-->
   {% set rowCount = rowCount + 1 %}
    {% if rowCount % numOfCols==0 %}
        <h1>{{rowCount}} {{numOfCols}}</h1>
    </div>
    {% endif %}
 <!-- </div> -->
    {% endfor %}

    <br>
    
     <button class = actionButtons style="background: rgb(161, 161, 161); color:white; font-size:x-large;"> Submit</button> 
    
  </form>
<!--
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Two</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Three</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Four</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Five</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Item Six</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
  -->
  <!-- -->
  <!-- /.row 
  </div>-->

  <!-- /.row -->
  {% endblock %}